.academic {
    background-color: #EAF2FD;
}

.academic__container {
    max-width: 1136px;
    margin: 0 auto;
    padding: 5rem 0;
    display: flex;
    flex-direction: column;
    gap: 2rem;

}

.academic__title {
    font-size: 2rem;
    font-weight: 700;
    color: #464646;
    text-align: center;
}

.academic__courses {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1rem;
}

.academic__courses__list {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}


.academic__courses__item__img {
    background-color: white;
    width: 368px;
    height: 286px;
    display: flex;

}

.academic__courses__item__img>img {
    margin: auto;
}

.academic__courses__item__title {
    font-size: 1.365rem;
    font-weight: 700;
    color: #464646;
}

.academic__courses__item__subtitle {
    font-size: 1rem;
    font-weight: 500;
    color: #464646;
}

@media (max-width: 1200px) {

    .academic__container {
        padding: 2rem;
    }

    .academic__title {
        font-size: 1.375rem;
    }

    .academic__courses {
        margin: 0 auto;
    }

    .academic__courses__item__img {
        width: 224px;
        height: 118px;
    }

    .academic__courses__item__img>img {
        height: 58px;
    }

    .academic__courses__item__title {
        font-size: 1rem;
    }

    .academic__courses__item__subtitle {
        font-size: 0.875rem;
    }
}

@media (max-width: 767px) {

    .academic__container {
        padding: 1rem;
    }

    .academic__title {
        font-size: 1.375rem;
    }

    .academic__courses {
        flex-direction: column;
        margin: 0 auto;
    }

    .academic__courses__item__img {
        width: 296px;
        height: 118px;
    }

    .academic__courses__item__img>img {
        height: 58px;
    }

    .academic__courses__item__title {
        font-size: 1rem;
    }

    .academic__courses__item__subtitle {
        font-size: 0.875rem;
    }
}