.menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    max-width: 1136px;
    margin: 0 auto;
    margin-bottom: 2rem;
    padding: 2rem 0;
}

.menu header {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
}

.menu__title {
    font-size: 1rem;
    font-weight: 700;
    color: #464646;
}

.menu nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
    font-size: 1rem;
    font-weight: 500;
    color: #464646;
}

.menu__list {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
}

.menu__list__item__contato {
    font-weight: bold;
}

@media (max-width: 1200px) {
    
    .menu {
        margin: 1rem;
        padding: 0;
    }

    .menu__list {
        display: none;
    }
}

@media (max-width: 767px) {

    .menu {
        margin: 1rem;
        padding: 0;
    }

    .menu__list {
        display: none;
    }

    .menu__list__item__contato {
        font-weight: 400;
        font-size: 1rem;
    }
}