.title {
    max-width: 1136px;
    margin: 0 auto;
    margin-bottom: 2rem;

}

.title__div {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;

}

.title__container {
    display: flex;
    flex-direction: column;
    padding-right: 1rem;
    gap: 1.5rem;
}

.title__bio {
    font-size: 3.25rem;
    font-weight: 700;
    color: #464646;
}

.title__subsection {
    font-size: 1.375rem;
    font-weight: 400;
    color: #464646;
}

.title__network {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    font-size: 1rem;
    font-weight: 500;
    color: #464646;
    gap: 2rem;
}

@media (max-width: 1200px) {
    .title {
        margin: 2rem;
    }

    .title__profile {
        width: 146px;
        height: 146px;
    }

    .title__bio {
        font-size: 1.375rem;
    }

    .title__subsection {
        font-size: 1rem;
    }

    .title__network {
        gap: 2rem;
    }
}

@media (max-width: 767px) {
    .title {
        margin: 1rem;

    }

    .title__div {
        flex-direction: column;
        align-items: flex-start;
    }

    .title__profile {
        width: 98px;
        height: 98px;
    }

    .title__container {
        padding: 0;
    }

    .title__bio {
        font-size: 1.375rem;
    }

    .title__subsection {
        font-size: 0.875rem;
    }

    .title__network__item {
        font-size: 0.875rem;
        font-weight: 600;
    }
}