/*CSS Reset / Normalize*/
/*Já deixaremos o básico de reset de estilos. Caso queira adicionar mais informações
coloque nas sessões indicadas*/

:root{
    /*Insira a variavel das outras cores inspecionando o modelo do figma*/
    /*Se esforce para trabalhar com variáveis, é uma dica profissional valiosa*/
   --cor-de-fundo: #F5F5F5;
   --cor-de-link: #000;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--cor-de-fundo) ;
    font-family: 'Raleway';
    line-height: 1;
}
ol, ul,li {
    list-style: none;
}
a{
    text-decoration: none;
    color: var(--cor-de-link);
}

/*Neste desafio, gostariamos que praticassem a metodologia BEM, caso seintam a vontade 
de utiliza-la. 

Mas o que é o BEM?

BEM (Block, Element, Modifier) ​​é uma abordagem baseada em componentes para o desenvolvimento
web. A ideia por trás disso é dividir a interface do usuário em blocos independentes.
Isso torna o desenvolvimento de interface fácil e rápido, mesmo com uma interface
de usuário complexa, e permite a reutilização de código existente sem copiar e colar.

Link da documentação oficial!
https://en.bem.info/methodology/quick-start/*/

/*Sessão Menu*/

.menu{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    max-width: 1136px;
    margin: 0 auto ;
    margin-bottom: 2rem;
    padding: 2rem 0;

}

.menu header{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
    

}

.menu__title {
    font-size: 1rem;
    font-weight: 700;
    color: #464646;
}

.menu nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
    font-size: 1rem;
    font-weight: 500;
    color: #464646;

}

.menu__list{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
}

.menu__list__item__contato {
    font-weight: bold;
}

/*Sessão Title*/
.title {
    max-width: 1136px;
    margin: 0 auto ; 
    margin-bottom: 2rem;

}

.title__div{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;

}

.title__container {
    display: flex;
    flex-direction: column;
    padding-right: 1rem;
    gap: 1.5rem;
}

.title__bio {
    font-size: 3.25rem;
    font-weight: 700;
    color: #464646;
}

.title__subsection {
    font-size: 1.375rem;
    font-weight: 400;
    color: #464646;
}

.title__network {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    font-size: 1rem;
    font-weight: 500;
    color: #464646;
    gap: 2rem;
}





/*Sessão About*/

.about{
    background-color: #EAF2FD;
    

}

.about__container {
    max-width: 1136px;
    margin: 0 auto ;
    padding: 4rem 0;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: flex;
    

}

.about__title {
    font-size: 2rem;
    font-weight: 700;
    color: #464646;
}

.about__paragraph{
    font-size: 1rem;
    font-weight: 400;
    color: #464646;
    padding-right: 24rem;
}

.about__container > img {
    width: 140px;
    height: 52px;
}

/*Sessão Skills*/

.skills {  
    max-width: 1136px;
    margin: 2rem auto 5.5rem auto ;
    margin-bottom: 5.5rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.skills__title{
    font-size: 2rem;
    font-weight: 700;
    color: #464646;
    text-align: center;
}

.skills__line {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}

.skills__box > ul {
    background-color: white;
    display: flex;
    flex-direction: column;
    width: 176px;
    height: 174px;
    justify-content: flex-end;
    padding: 1rem;
}
/*Sessão Hobbies*/

.hobbies{
    max-width: 1136px;
    margin: 0 auto 5.5rem auto ;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.hobbies__title{
    font-size: 2rem;
    font-weight: 700;
    color: #464646;
    text-align: center;
}

.hobbies__line {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}

.hobbies__box > ul {
    background-color: white;
    display: flex;
    flex-direction: column;
    width: 176px;
    height: 174px;
    justify-content: flex-end;
    padding: 1rem;
}

/* Experiência Acadêmica*/

.academic{
    background-color: #EAF2FD;
}

.academic__container {
    max-width: 1136px;
    margin: 0 auto;
    padding: 5rem 0;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    
}

.academic__title {
    font-size: 2rem;
    font-weight: 700;
    color: #464646;
    text-align: center;
}

.academic__courses{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1rem;
}

.academic__courses__list{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}


.academic__courses__item__img{
    background-color: white;
    width: 368px;
    height: 286px;
    display: flex;
    /* justify-content: center; */
    
}

.academic__courses__item__img>img{
    
    margin: auto;
    /* display: block; */
}

.academic__courses__item__title {
    font-size: 1.365rem;
    font-weight: 700;
    color: #464646;
}

.academic__courses__item__subtitle {
    font-size: 1rem;
    font-weight: 500;
    color: #464646;
}

/* experiência*/

.experience{
    max-width: 1136px;
    margin: 0 auto;
    padding: 2rem 0;
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

.experience__section__title {
    font-size: 2rem;
    font-weight: 700;
    color: #464646;
    text-align: center;
    margin-bottom: -2rem;
}

.experience__box {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}

.experience__box:nth-child(odd) {
    flex-direction: row-reverse;
}

.experience__info{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.experience__title{
    font-size: 1.375rem;
    font-weight: bold;
    color: #464646;
}

.experience__text{
    font-size: 1rem;
    font-weight: 500;
    color: #464646;
}

.experiencia__botao--repo {
    width: 116px;
    height: 51px;
    background-color: #F5F5F5;
    border-color: #2A7AE4;
    color: #2A7AE4;
    font-size: 1rem;
    font-weight: 400;
}

.experiencia__botao--demo {
    width: 116px;
    height: 51px;
    background-color: #2A7AE4;
    border-color: #2A7AE4;
    color: #F5F5F5;
    font-size: 1rem;
    font-weight: 400;
}

/*Contato*/

.formcontato{
background-color: #EAF2FD;
}

.formcontato__contacto{
    max-width: 1136px;
    margin: 0 auto;
    padding: 8rem 0; 
    display: flex;
    gap: 1rem;
}

.formcontato__text{
    display: flex;
    flex-direction: column;
    width: 100%;
    
}

.formcontato__title{
    font-size: 2rem;
    font-weight: 700;
    color: #464646;
    margin-bottom: 1rem;
}

.formcontato__subtext{
    font-size: 1rem;
    font-weight: 500;
    color: #464646;
}

.formcontato__form{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-top: 2rem;
}

.formcontato__input{
    height: 56px;
    padding-left: 12px;
    border-radius: 4px;
    border-style: none;
    box-shadow: 0 1px #c8c8c8;
}

.formcontato__textarea{
    height: 133px;
    padding-left: 12px;
    padding-top: 1rem;
    border-radius: 4px;
    border-style: none;
    box-shadow: 0 1px #c8c8c8;
    resize: none;
}

.formcontato__botao{
    background-color: #2A7AE4;
    color: white;
    width: 165px;
    height: 51px;
    border-style: none;
    
}

/*footeer*/

.footer{

    background-color: white;
    
   
}

.footer__rodape {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem 0;
    font-size: 1rem;
    font-weight: 500;
    color: #464646;
    
}

/* Chegou a hora de se desafiar com a responsividade, 
utilize como referência os breakpoints @media abaixo*/

/*Tablet*/
@media (max-width: 768px) {


/* Menu */
.menu{
    margin: 1rem;
    padding: 0;
}
.menu__list {
    display: none;
}

.menu__list__item__contato {
    font-weight: 400;
    font-size: 1rem;
}
/*title*/

/*Skills*/

/*Hobbies*/

/*Experiências acadêmicas*/

/*Expeirência profissional*/

}

/*Mobile*/
@media (max-width: 425px) {
    body {
        background-color: blue;
    }
/*Menu*/

/*Titulo*/

/*Sessão sobre*/

/*Skills*/

/*Hobbies*/
 
/*Formação Acadêmica*/

/*Experiência Profissional*/

 /*Contato*/

/*Footer*/

}
